@page
@model Ui.NursingBonus.Pages.BastariModel
@{
}
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">
            بخش بستری  
        </h3>
    </div>
    <br />

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>بیمار  </th>
                        <th>پرستار</th>
                        <th>بخش</th>
                        <th>شیفت  </th>
                        <th> تاریخ    </th>
                        <th>کد بیمار</th>
                        <th>سطح مراقبت  </th>
                        <th>   #  </th>
                    </tr>
                   @* <tr>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>تست  </td>
                        <td>
                            <button type="submit" class="btn btn-primary">ویرایش</button>
                            <button type="submit" class="btn btn-danger">حذف</button>
                            <button type="submit" class="btn btn-default">بیشتر</button>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">۱</a></li>
                <li class="page-item"><a class="page-link" href="#">۲</a></li>
                <li class="page-item"><a class="page-link" href="#">۳</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>